:host {
	display: flex;
	flex-direction: column;

	max-width: 500px;
}

.cake-wrapper {
	position: relative;
}

.btn--reset {
	position: absolute;
	right: 0;
	bottom: 0;
}

.btn--toggle-axis {
	position: absolute;
	left: 0;
	top: 0;
}

protractor-cake {
	width: 100%;
	max-width: 300px;
	margin: auto;
}

.btn--toggle-axis,
.btn--reset,
.btn--measure {
	height: 64px;
}

svg {
	vertical-align: middle;
}
